---
layout: default
---

{% include hero.html %}

<section class="grid-block col grid-container section-articles">
  {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
    <article class="article">
      <a class="h3 weight-strong" href="/blog{{ post.url }}">{{ post.title }}</a>
      <div class="grid-block margin-top-sm author">
        <img class="margin-right-xxs avatar" src="{{ author.avatar }}" height="27" width="27">
        <span class="post-author text-gray">by {{ author.display_name }} {{ post.date | timeago }}</span>
      </div>
      <p class="p article-body margin-top-sm">{{ post.excerpt }}</p>
      <a href="/blog{{ post.url }}" class="read-more">Keep reading</a>
    </article>
  {% endfor %}
</section>
