<header class="grid-block shrink header">
  <div class="grid-block grid-container justify-justified">
    <a href="https://runnable.com/" class="grid-content shrink logo">
      <img class="img" src="https://runnable.com/images/runnable-logo.svg" height="36" width="192">
    </a>
    <nav class="nav grid-block shrink">
      <a href="https://runnable.com/product/" class="grid-content btn btn-sm text-white weight-strong hidden-sm a">Product</a>
      <a href="https://runnable.com/pricing/" class="grid-content btn btn-sm text-white weight-strong hidden-md">Pricing</a>
      <a href="https://runnable.com/signin" class="grid-content btn btn-sm text-white weight-strong hidden-md js-modal js-hide-if-signed-in">Sign In</a>
      <a href="https://runnable.com/signup" class="grid-content btn btn-sm btn-white text-white weight-strong hidden-xs js-modal js-hide-if-signed-in track-sign-up">Sign Up</a>
      <div class="grid-content btn btn-sm btn-overflow popover-trigger hover has-links" tabindex="1">
        <svg class="icons icons-overflow">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons-overflow"></use>
        </svg>
        {% include header-menu.html %}
      </div>
    </nav>
  </div>
</header>
