<article class="article article-related padding-lg">
  <h2 class="h2 text-center">Related Posts</h2>
  <div class="grid-block">
    <div class="grid-block col align-start padding-sm">
      <div class="card">
        <h3 class="h3 weight-strong">Spend less time working on code reviews</h3>
        <p class="p">Reviewing code is one of the most time-intensive tasks developers are facing today. </p>
      </div>
    </div>
    <div class="grid-block col align-start padding-sm">
      <div class="card">
        <h3 class="h3 weight-strong">Spend less time working on code reviews</h3>
        <p class="p">Reviewing code is one of the most time-intensive tasks developers are facing today. </p>
      </div>
    </div>
  </div>
  <div class="grid-block">
    <div class="grid-block col align-start padding-sm">
      <div class="card">
        <h3 class="h3 weight-strong">Spend less time working on code reviews</h3>
        <p class="p">Reviewing code is one of the most time-intensive tasks developers are facing today. </p>
      </div>
    </div>
    <div class="grid-block col align-start padding-sm">
      <div class="card">
        <h3 class="h3 weight-strong">Spend less time working on code reviews</h3>
        <p class="p">Reviewing code is one of the most time-intensive tasks developers are facing today. </p>
      </div>
    </div>
  </div>
</article>
