<div class="related">
  <article class="article article-block">
    <h3 class="h3 text-center">Related Posts</h3>
    <div class="grid-block grid-container">
      <div class="grid-block">
        <div class="grid-block margin-bottom-sm padding-sm col row-md">
          <div class="related-post">
            <p class="p">Spend less time working on code reviews</p>
          </div>
        </div>
        <div class="grid-block margin-bottom-sm padding-sm col row-md">
          <div class="related-post">
            <p class="p">Spend less time working on code reviews</p>
          </div>
        </div>
        <div class="grid-block margin-bottom-sm padding-sm col row-md">
          <div class="related-post">
            <p class="p">Spend less time working on code reviews</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
