<article class="article article-related">
  <h3 class="h3 text-center">Related Posts</h3>
  <div class="grid-block">
    <div class="grid-block col align-start padding-xs">
      <div class="card">
        <h3 class="h3 weight-strong">Spend less time working on code reviews.</h3>
        <p class="p">Reviewing code is one of the most time-intensive tasks developers are facing today.</p>
      </div>
    </div>
    <div class="grid-block col align-start padding-xs">
      <div class="card">
        <h3 class="h3 weight-strong">Spend less time working on code reviews</h3>
        <p class="p">Reviewing code is one of the most time-intensive tasks developers are facing today.</p>
      </div>
    </div>
  </div>
  <div class="grid-block">
    <div class="grid-block align-start padding-xs">
      <div class="card">
        <h3 class="h3 weight-strong">Spend less time working on code reviews.</h3>
        <p class="p">Reviewing code is one of the most time-intensive tasks developers are facing today.</p>
      </div>
    </div>
    <div class="grid-block align-start padding-xs">
      <div class="card">
        <h3 class="h3 weight-strong">Spend less time working on code reviews</h3>
        <p class="p">Reviewing code is one of the most time-intensive tasks developers are facing today.</p>
      </div>
    </div>
  </div>
</article>
