<article class="article article-share">
  <h3 class="h3 text-center">Share this post</h3>
  <div class="grid-block justify-center">
    <div class="grid-block shrink">
      <div class="grid-block margin-bottom-sm padding-sm col">
        <button class="btn btn-sm twitter">
          <span>Share to Twitter</span>
        </button>
      </div>
      <div class="grid-block margin-bottom-sm padding-sm col">
        <button class="btn btn-sm linkedin">
          Share to Linkedin
        </button>
      </div>
    </div>
  </div>
</article>
