<div class="share">
  <article style="article article-block">
    <h3 class="h3 text-center">Share this post</h3>
    <div class="grid-block grid-container">
      <div class="grid-block">
        <div class="grid-block margin-bottom-sm padding-sm col row-md">
          <div class="share-twitter">Share on Twitter</div>
        </div>
        <div class="grid-block margin-bottom-sm padding-sm col row-md">
          <div class="share-linkedin">Share on Linkedin</div>
        </div>
      </div>
    </div>
  </article>
</div>
