<div class="grid-block col">
  <div class="tag-group">
    {% for tag in page.tags %}
      <a href="/use-cases#{{ tag }}" class="tag">{{ tag }}</a>
    {% endfor %}
    <button class="btn btn-xs purple">View All Usecases</button>
  </div>
</div>
<div class="grid-block col">
  <ul class="item-group">
    <li class="item-1"><a href="#">Introduction</a></li>
    <li class="item-1"><a href="#">Getting Started with Code Review</a></li>
    <li class="item-2"><a href="#">Code Reviews & Runnable</a></li>
    <li class="item-2"><a href="#">Platforms</a></li>
  </ul>
</div>
