%pre {
  // scss-lint:disable ImportantRule
  background: none;
  font-family: $monospace !important;
  font-size: 14px !important;
  font-weight: $weight-normal;
  line-height: 1.4 !important;
  white-space: pre;
}

// monospace
%monospace {
  font-family: $monospace;
  font-size: 14px;
  white-space: pre;
  word-wrap: normal;
}

%sans-serif {
  font-family: $sans-serif;
}

// single line overflow
%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// alignment
%text-left {
  text-align: left;
}

%text-center {
  text-align: center;
}

%text-right {
  text-align: right;
}
