.article-body {
  position: relative;
  width: 100%;

  // vertical rythm
  p,
  blockquote,
  pre,
  ul,
  ol,
  dl,
  figure,
  .highlight {
    margin-bottom: $md;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $weight-bold;
    line-height: 1.6;
    padding: $sm 0;
  }

  h3 {
    font-size: 24px;
  }

  // code
  pre,
  code {
    background-color: $gray-lighterest;
    border: 1px solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    font-size: 16px;
    white-space: pre;
  }

  code {
    background: $gray-lightest;
    font-weight: $weight-normal;
    padding: 1px 5px;
  }

  pre {
    overflow-x: auto;
    padding: $sm;

    > code {
      background-color: transparent;
      border: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  p code {
    word-break: break-word;
  }

  .highlight {
    background: $gray-lighterest;

    .highlighter-rouge & {
      background: $gray-lighterest;
    }
  }

  // tables
  table {
    display: block;
    font-size: 15px;
    margin: 60px 0;
    overflow: auto;
    text-align: left;
  }

  thead {
    border-bottom: 1px solid;
  }

  th,
  td {
    min-width: 150px;
  }

  th {
    padding: 9px;
    text-align: left;
    white-space: nowrap;
  }

  td {
    padding: 9px;
    vertical-align: top;

    > strong {
      white-space: nowrap;
    }
  }

  // lists
  ol,
  ul {
    padding-left: 30px;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: circle;
  }

  li + li {
    margin-top: 6px;
  }

  // blockquote
  blockquote {
    border-left: $input-border solid $gray-lighter;
    color: $gray;
    font-style: italic;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0 30px;

    > :last-child {
      margin-bottom: 0;
    }
  }

  // link
  a:not(.well-anchor) {
    color: currentColor;
    cursor: pointer;
    text-decoration: underline;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  // utility
  .indent {
    margin-left: 30px;
  }

  // next cta
  .well-anchor:last-child {
    margin-top: 75px;
  }

  img {
    height: auto;
    margin-bottom: $sm;
    margin-left: 50%;
    margin-top: $lg;
    max-width: calc(100vw - 60px);
    transform: translateX(-50%);
  }

  // captions
  .caption {
    font-style: italic;
  }
}

.page-landing {

  .ol,
  .ul,
  .p {
    margin-bottom: 9px;
  }

  .ol,
  .ul {
    list-style-type: circle;
    margin: 0;
    padding-left: 21px;
  }

  .hr {
    background: $gray-lighter;
    border: 0;
    height: 1px;
    margin-bottom: 30px;
    margin-top: 30px;

    @include media(xs) {
      margin-left: 30px;
      margin-right: 30px;
      max-width: calc(100% - 60px);
    }

    &.hr-footer {
      margin-top: 150px;

      @include media(sm) {
        margin-top: 60px;
      }
    }
  }
}
