.sidebar {

  & .article-body .ul {
    margin-bottom: $xs;
    padding-left: 0;
  }

  @media (max-width: $screen-sm) {
    display: none;
    width: 0;
  }

  & .item-group {
    list-style-type: none;
    margin: 0;
    margin-bottom: $sm;
    padding-left: 0;
    text-decoration: none;
  }

  & .item-1 {
    font-size: 16px;
    margin-bottom: $xs;
  }

  & .item-2 {
    font-size: 14px;
    margin-bottom: $xs;
    margin-left: $sm;
  }

  & .item-3 {
    font-size: 14px;
    margin-bottom: $xs;
    margin-left: $md;
  }

  & .tag {
    font-size: 14px;
    padding-right: 5px;
    white-space: nowrap;
  }

  & .tag-group {
    border-bottom: 1px solid rgba($black,.1);
    margin-bottom: $sm;
    padding-bottom: $sm;
  }
}
