.sidebar {
  & ul li {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
  }
  & .article-body ul {
    padding-left: 0px;
    margin-bottom: $xs;
}
  display: block;
  @media (max-width: $screen-sm) {
    display: none;

    width: 0px;
  }

  &-item-group {
    margin-bottom: $sm;
  }
  &-item-1 {
    font-size: 16px;
    margin-bottom: $xs;

  }
  &-item-2 {
    margin-bottom: $xs;
    margin-left: $sm;
    font-size: 14px;

  }
  &-item-3 {
    margin-bottom: $xs;
    margin-left: $md;
    font-size: 14px;

  }

  &-tag {
    font-size: 14px;
  }
  &-tag-group {
    margin-bottom: $sm;
  }
  &-header {
    padding-bottom: $sm;
    margin-bottom: $sm;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}
