.sidebar {
  flex: 0 0 300px;
  padding: 75px 30px;
  padding-right: 0;

  @media (max-width: $screen-sm) {
    display: none;
    width: 0;
  }

  .tag-group .btn + .btn {
    margin-top: $xxs;
  }

  .list-group {
    padding-top: $md;
    // scss-lint:disable VendorPrefix
    position: -webkit-sticky;
    // scss-lint:enable VendorPrefix
    position: sticky;
    top: $md;
  }

  // we‘re making an exception here for tag selectors
  // because content.js doesn't add classes by default
  ol {
    font-size: 13px;

    ol {
      border-left: 1px solid rgba($black,.1);
      padding-left: $sm;
    }
  }

  li {
    list-style-type: none;

    a {
      display: block;
      margin-bottom: $sm;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover,
      &:active {
        color: $purple;
      }
    }
  }
}
